{{ define "404" }}
<!doctype html>
<html data-theme="cupcake">
  <head>
    {{ template "_head" . }}
  </head>
  <body>
    <!---->
    {{ template "container" . }}
    <!---->
    {{ template "navbar" . }}

    <div class="pt-4 px-2 flex flex-col gap-4">
      <h1 class="text-2xl font-bold">404 Not Found</h1>
      <p>Sorry, the page you are looking for is not found</p>
      <p class="font-bold">Path {{ .Meta.Path }}</p>
      <p>Server Time {{ .Meta.Time | FormatTime }}</p>
      <button class="btn" onclick="window.history.back()">Go Back</button>
    </div>
    <!---->
    {{ template "container_end" . }}
  </body>
</html>
{{ end }}
