{{ define "container" }}
<div class="container max-w-screen-sm mx-auto px-2 py-2 h-full overflow-auto">
  {{ end }}

  <!---->
  {{ define "container_end" }}
  <footer
    class="footer footer-center p-6 mt-12 bg-base-200 text-base-content rounded-2xl"
  >
    <nav class="grid grid-flow-col gap-4">
      <a class="link link-hover">About</a>
      <a class="link link-hover">Contribute</a>
      <a class="link link-hover">Contact</a>
    </nav>
    <aside>
      <p>Copyright © 2024 </br> Made with ❤️ by Billy E.</p>
    </aside>
  </footer>
</div>
{{ end }}
