<!-- search page -->
{{ define "search" }}
<!doctype html>
<html data-theme="cupcake">
  <head>
    <!---->
    {{ template "_head" . }}
  </head>
  <body>
    <!---->
    {{ template "container" . }}

    <!---->
    {{ template "navbar" . }}

    <!---->
    <div class="pt-4 px-2 flex flex-col gap-4">
      <form id="search-form" action="/search" method="GET">
        <div class="w-full flex flex-col gap-4">
          <!-- search -->
          <label class="input input-bordered flex items-center gap-2">
            <input
              id="search-bar"
              type="text"
              class="grow"
              name="s"
              placeholder="Search"
              value="{{ .Data.Search }}"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="w-4 h-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </label>
        </div>
      </form>
    </div>

    {{ template "search_script" . }}

    <!---->
    {{ template "container_end" . }}
  </body>
</html>

<!---->
{{ end }}

<!---->
{{ define "search_script" }}
<script>
  const form = document.getElementById("search-form");
  const searchBar = document.getElementById("search-bar");
  searchBar.focus();
  searchBar.setSelectionRange(searchBar.value.length, searchBar.value.length);

  const delay = 1200;

  let value = searchBar.value;
  searchBar.addEventListener("input", (e) => {
    const currValue = e.target.value;
    value = currValue;

    setTimeout(() => {
      if (currValue === value) {
        form.submit();
      }
    }, delay);
  });
</script>

<!---->
{{ end }}
